# Discord Bot Token
# DISCORD_TOKEN=MTUwMzMyMzcyNzMxMDM1NjQ4MA.GaBo1s.U-U72tz32Z2g_eCD7Ujbezpu_59lmJltv4emjs

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://realryuga09:<realryuga09>@cluster0.ytgrknx.mongodb.net/?appName=Cluster0
DATABASE_NAME=dc_bot_db

# Bot Settings
BOT_PREFIX=!
BOT_VERSION=1.0.0

# Environment
ENVIRONMENT=development
